/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
/*===== GLOBAL VARS =====*/
/*===== GLOBAL CLASSES =====*/
/*==========button===========*/
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 900;
  color: #fff;
  padding: 1rem 0.8rem;
  background: #4d7cff;
  text-transform: uppercase;
}

button.border_both_side {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

button.v-s {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.2rem 0.4rem;
}

button.hover-expand:hover {
  -webkit-transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
  transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
  letter-spacing: 0.125rem;
}

.btn--jump.is-active {
  -webkit-animation: 0.4s jump ease infinite alternate;
          animation: 0.4s jump ease infinite alternate;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
  100% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
  100% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
}

.gate {
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #48e98a;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 65px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gate::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}

.gate + label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #48e98a;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  z-index: 50;
}

.gate + label:before, .gate + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background: #48e98a;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  pointer-events: none;
  z-index: -1;
}

.gate + label:before {
  background: rgba(3, 36, 41, 0.2);
  z-index: -2;
  right: 20%;
}

.gate:focus, .gate:active {
  color: #377d6a;
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.gate:focus::-webkit-input-placeholder, .gate:active::-webkit-input-placeholder {
  color: #aaa;
}

.gate:focus + label, .gate:active + label {
  -webkit-transform: rotate(-66deg);
          transform: rotate(-66deg);
  border-radius: 3px;
}

.gate:focus + label:before, .gate:active + label:before {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

/*================switch==================*/
.switch {
  cursor: pointer;
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"] + span {
  width: 40px;
  height: 25px;
  border-radius: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  position: relative;
  background: #ff4651;
  -webkit-box-shadow: 0 8px 16px -1px rgba(255, 70, 81, 0.2);
          box-shadow: 0 8px 16px -1px rgba(255, 70, 81, 0.2);
}

.switch input[type="checkbox"] + span:before, .switch input[type="checkbox"] + span:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.switch input[type="checkbox"] + span:before {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: 5px solid #fff;
}

.switch input[type="checkbox"] + span:after {
  top: 5px;
  left: 32px;
  width: 6px;
  height: 18px;
  border-radius: 40%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background: #fff;
  opacity: 0;
}

.switch input[type="checkbox"] + span:active {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

.switch input[type="checkbox"]:checked + span {
  background: #48ea8b;
  -webkit-box-shadow: 0 8px 16px -1px rgba(72, 234, 139, 0.2);
          box-shadow: 0 8px 16px -1px rgba(72, 234, 139, 0.2);
}

.switch input[type="checkbox"]:checked + span:before {
  width: 0px;
  border-radius: 3px;
  margin-left: 22px;
  border-width: 3px;
  background: #fff;
}

.switch input[type="checkbox"]:checked + span:after {
  -webkit-animation: blobChecked 0.35s linear forwards 0.2s;
          animation: blobChecked 0.35s linear forwards 0.2s;
}

.switch input[type="checkbox"]:not(:checked) + span:before {
  -webkit-animation: blob 0.85s linear forwards 0.2s;
          animation: blob 0.85s linear forwards 0.2s;
}

@-webkit-keyframes blob {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.12, 0.94);
            transform: scale(1.12, 0.94);
  }
  60% {
    -webkit-transform: scale(0.96, 1.06);
            transform: scale(0.96, 1.06);
  }
}

@keyframes blob {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.12, 0.94);
            transform: scale(1.12, 0.94);
  }
  60% {
    -webkit-transform: scale(0.96, 1.06);
            transform: scale(0.96, 1.06);
  }
}

@-webkit-keyframes blobChecked {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  30% {
    -webkit-transform: scaleX(1.44);
            transform: scaleX(1.44);
  }
  70% {
    -webkit-transform: scaleX(1.18);
            transform: scaleX(1.18);
  }
  50%,
  99% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes blobChecked {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  30% {
    -webkit-transform: scaleX(1.44);
            transform: scaleX(1.44);
  }
  70% {
    -webkit-transform: scaleX(1.18);
            transform: scaleX(1.18);
  }
  50%,
  99% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

/*===========search area===========*/
html {
  -webkit-font-smoothing: antialiased;
}

/*===== GLOBAL CLASSES END=====*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #000;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body header {
  margin-left: 0px;
  position: relative;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #12192c;
  padding: 1rem;
  color: #fff;
  min-height: 1.5rem;
}

body header > div {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  font-size: 1.2em;
  font-weight: 500;
}

body header > div span {
  color: #4d7cff;
}

body header .search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .search-area .search-input {
  color: #fff;
  display: inline-block;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0.2em 0;
  margin-right: 1em;
}

body header svg {
  display: none;
}

body #navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: #12192c;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 100;
}

body #navbar.expander {
  width: 300px;
}

body #navbar nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

body #navbar nav a {
  text-decoration: none;
}

body #navbar nav .nav__brand {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

body #navbar nav .nav__brand .nav__toggle {
  font-size: 1.25rem;
  padding: 0.75rem;
  cursor: pointer;
}

body #navbar nav .nav__brand .nav__logo {
  color: #fff;
  font-weight: 600;
}

body #navbar nav .nav__brand .nav__logo span {
  color: #4d7cff;
}

body #navbar nav .nav__link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
          column-gap: 0.75rem;
  padding: 0.75rem;
  color: var(--white-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /*===== COLLAPSE =====*/
  /*=======Show collapse==========*/
  /*========Rotate icon=========*/
  /*===== COLLAPSE END =====*/
}

body #navbar nav .nav__link:hover {
  background-color: #0c5df4;
}

body #navbar nav .nav__link.active {
  background-color: #0c5df4;
}

body #navbar nav .nav__link .nav__icon {
  font-size: 1.25rem;
}

body #navbar nav .nav__link .nav__name {
  font-size: 0.875rem;
}

body #navbar nav .nav__link.collapse {
  -ms-grid-columns: 20px max-content 1fr;
      grid-template-columns: 20px -webkit-max-content 1fr;
      grid-template-columns: 20px max-content 1fr;
}

body #navbar nav .nav__link .collapse__link {
  justify-self: flex-end;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body #navbar nav .nav__link .collapse__menu {
  display: none;
  padding: 0.75rem 2.25rem;
}

body #navbar nav .nav__link .collapse__sublink {
  color: #b6cefc;
  font-size: 0.875rem;
}

body #navbar nav .nav__link .collapse__sublink:hover {
  color: var(--white-color);
}

body #navbar nav .nav__link .showCollapse {
  display: block;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #navbar nav .nav__link .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main > div {
  width: 80%;
}

body .main > div svg {
  width: 100%;
}

body .main video {
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 768px) {
  button.v-s {
    font-size: 0.7rem;
  }
  body {
    font-size: 11px;
  }
  body header {
    margin: 0;
  }
  body header .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header .header-logo svg {
    display: inline;
  }
  body header .search-area .search-input {
    width: 9em;
  }
  body #navbar {
    width: 0;
    padding: 0;
  }
}
/*# sourceMappingURL=index.css.map */